@import '@/styles/globals.module';

.round-button {
	width: $spacing-32;
	height: $spacing-32;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $white;

	border-radius: 100%;
	border: none;

	cursor: pointer;

	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #e3e3e3;
	}

	&:disabled {
		opacity: 0.5;
		background-color: $white;

		cursor: auto;

		transition: none;

		&:hover {
			border: none;
		}
	}
}
