@import '@/styles/globals.module';

.container {
	background: #050b10;
	padding-bottom: 60px;
	position: relative;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	.contact {
		position: absolute;
		top: -120px;
	}
}
